/* Footer.css */
.footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  bottom:0;
  left:0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px 20px;
  min-width: 200px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
}

.contact span,
.footer-section h2 {
  margin: 10px 0;
}

.footer-section a {
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.social-links a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #fff;
  padding-top: 10px;
}







        
