*{
margin:0;
padding:0;
}
.header{
width:100%;
height:100px;
background-color: black;
border:2px solid rebeccapurple;
border-radius: 15px;
display: flex;
}
.header ul{
display:flex;
margin-right:180px;
}
.header ul li {
font-size:33px;
font-family: 'Times New Roman', Times, serif;
color: aliceblue;
list-style: none;
margin-top: 25px;
padding-left:55px;
text-decoration: none;
}
 ul li a {
 text-decoration: none;
 color: inherit; /* Optional: inherit the text color from the parent */
  }

.header input{
height:52px;
width: 270px;
margin-top:25px;
border-radius:15px;
font-size:19px;

}